*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.coverage
env:
local:
.terraformrc
terraform.rc
*.hcl
override.hcl
init.hcl
.backend
.backendrc

